#settings-panel{background-color:#fff;
  padding:20px;
  display:inline-block;
  border-radius:10px;
  position:relative}

.settings-section{background-color:#f7f7f7;height:45px;width:500px;border:1px solid #b4b7bc;border-bottom-width:0}.settings-section-top{border-bottom-width:0;border-top-left-radius:10px;border-top-right-radius:10px}.sections-section-bottom{border-bottom-width:1px;border-bottom-left-radius:10px;border-bottom-right-radius:10px}.sections-top-shadow{width:500px;position:absolute;top:21px;left:21px;height:30px;border-top:1px solid #e4e4e4;border-top-left-radius:10px;border-top-right-radius:10px}.settings-label{font-weight:700;font-family:Sans-Serif;font-size:14px;margin-left:14px;margin-top:15px;float:left}.settings-melody{color:#385487;font-family:Sans-Serif;font-size:14px;display:inline-block;margin-top:7px}.settings-setter{float:right;margin-right:14px;margin-top:8px}.events-container{margin-left:20px}#theme{margin-left:20px;margin-bottom:20px}

.spacer {
  margin: 10px 10px
}
